SampleProjectText/SampleProjectText/SampleProjectText/bin/Microsoft.Web.Infrastructure.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/Newtonsoft.Json.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Net.Http.Formatting.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.Http.WebHost.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Net.Http.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.Mvc.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Net.Http.WebRequest.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.Helpers.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.Http.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.Razor.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.WebPages.Deployment.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.WebPages.dll
SampleProjectText/SampleProjectText/SampleProjectText/bin/System.Web.WebPages.Razor.dll
SampleProjectText/SampleProjectText/SampleProjectText/obj/Debug/build.force